<h3>Album</h3>
<%= @album.name %>
<br>

<h3>Band</h3>
<%= link_to("#{@album.band.name}", band_url(@album.band), method: :get) %>
<br>
<br>
<h3>Tracks</h3>
<ul>
<% @album.tracks.each do |track| %>
  <li><%= link_to("#{track.name}", track_url(track), method: :get) %></li>
<% end %>
</ul>



