<h3>Band</h3>
<%= @band.name %>
<br>

<h3>Album</h3>
<ul>
  <% @band.albums.each do |album| %>
  <li><%= link_to("#{album.name}", album_url(album), method: :get) %></li>
  <% end %>
</ul>

<h3>Tracks</h3>
<ul>
<% @band.tracks.each do |track| %>
  <li><%= link_to("#{track.name}", track_url(track), method: :get) %></li>
<% end %>
</ul>

<%= button_to("Destroy this band!", band_url, method: :delete)%>